# Gradle
*.class
*.jar
.gradle
build/

# Eclipse
.classpath
.checkstyle
.factorypath
.project
.settings
bin/

# Idea
*.iml
*.ipr
*.iws
.idea/
out/
generated_src/

# Codegen
.generated

# Mac
.DS_Store
